@media all and (max-width: 700px) {

    .navbar {
        border-right: none;
        border-left: none;
    }
    .navbar .user, .logout {
        display: none;
    }
    .navbar .res-user {
        display: block!important;
        background-color: #0cd33e;
    }
    .navbar .res-user:active {
        background-color: #0be041;
    }
    .content {
        border: none!important;
        border-radius: 0px!important;
        margin-left: 0px!important;
        margin-right: 0px!important;
        margin-bottom: 0px!important;
        margin-top: 0px!important;
        font-size: 12px!important;
    }

    .item button {
        margin-top: 44px!important;
    }
}
* {
    padding: 0;
    margin: 0;
}
body {
    background: url(assets/images/welcome/image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    border: 1px solid #86868b;
    background-color: #adafaf9c;
}

body::-webkit-scrollbar-thumb {
    background-color: #e3f0f3d3;
    outline: 1px solid #86868b;
}
/* Navbar */
.navbar {
    background-color: #e3f0f3d3;
    border-bottom: 1px solid #86868b;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
} 
.navbar button {
    float: right;
    margin-top: -25px;
    border: 1px solid #86868b;
    border-radius: 5px;
    margin-right: 5px;
    padding: 6px;
}
.navbar .res-user {
    display: none;
}
.navbar .user {
    background-color: #0cd33e;
}
.navbar .user:active {
    background-color: #0be041;
}

.navbar .logout {
    background-color: #d30c2a;
}
.navbar .logout:active {
    background-color: #e31131;
}  

/* Content */


.content {
    font-size: 14px;
    text-align: center; 
    background-color: #e3f0f3d3;
    border: 1px solid #86868b;
    border-radius: 12px;
    padding: 10px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;

}

/* Header */
.header img {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin: 15px;
}
.header h2 {
    font-family: sans-serif;
    color: #1d1d1f;
    padding: 15px;
}
.header h3 {
    font-family: sans-serif;
    color: #1d1d1f;
    padding: 15px;
}
.item {
    height: 110px;
    padding: 15px;
    margin: 15px;
    border: 1px solid #86868b;
    background-color: #e3f0f3c5;
    border-radius: 12px;
}
.item img {
    border-right: 1px solid #86868b;
    float: left;
    padding-right: 35px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 70px;
}
.item h3 {
    text-align: left;
    margin-top: 15px;
    font-family: sans-serif;
    color: #1d1d1f;
}
.item button {
    float: right;
    background-color: #0cd33e;
    border: 1px solid #86868b;
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 5px;
    padding: 5px;
    padding-left: auto;
    padding-right: 5px;
}
.item button:active {
    background-color: #0be041;
}
