@media all and (max-width: 700px) {
    .navbar {
        font-size: 12px;
        border-right: none;
        border-left: none;
    }
    .content {
        border: none!important;
        border-radius: 0px!important;
        margin-left: 0px!important;
        margin-right: 0px!important;
        margin-bottom: 0px!important;
        margin-top: 0px!important;
        font-size: 12px;
    }
    
}
* {
    padding: 0;
    margin: 0;
}
body {
    background: url(/assets/images/welcome/image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    border: 1px solid #86868b;
    background-color: #adafaf9c;
}

body::-webkit-scrollbar-thumb {
    background-color: #e3f0f3d3;
    outline: 1px solid #86868b;
}
/* Nav bar */
.navbar {
    background-color: #e3f0f3d3;
    border-bottom: 1px solid #86868b;
    /* border-left: 1px solid #86868b;
    border-right: 1px solid #86868b; */
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
} 
/* Content */


.content {
    font-size: 14px;
    text-align: center; 
    background-color: #e3f0f3d3;
    border: 1px solid #86868b;
    border-radius: 12px;
    padding: 10px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;

}
/* .content img {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin: 15px;
    width: 100px;
}
.content h2 {
    font-family: sans-serif;
    color: #1d1d1f;
    padding: 15px;
}
.content h3 {
    font-family: sans-serif;
    color: #1d1d1f;
    padding: 15px;
}
.content a{
    font-family: sans-serif;
    text-decoration: none;
    color: #1d1d1f;
    padding: 15px;
}
.content input {
    border: 1px solid #86868b;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}
.content button {
    background-color: #0cd33e;
    border: 1px solid #86868b;
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.content button:hover {
    background-color: #0be041;
} */
/* Header */
.header img {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin: 15px;
}
.header h2 {
    font-family: sans-serif;
    color: #1d1d1f;
    padding: 15px;
}
.header h3 {
    font-family: sans-serif;
    color: #1d1d1f;
    padding: 15px;
}
.item {
    height: 110px;
    padding: 15px;
    margin: 15px;
    border: 1px solid #86868b;
    background-color: #e3f0f3c5;
    border-radius: 12px;
}
.item img {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: auto;
    width: 70px;
}
.item h3 {
    margin-top: 25px;
    margin-right: 25px;
    font-family: sans-serif;
    color: #1d1d1f;
    padding: 15px;
}
.item button {
    float: right;
    background-color: #0cd33e;
    border: 1px solid #86868b;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.item button:active {
    background-color: #0be041;
}
