@media all and (max-width: 700px) {
    .logo img {
        width: 30%!important;
    }
    
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #fff;
    text-align: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.logo img {
    width: 10%;

}
button {

    background-color: #0cd33e;
    border: 1px solid #86868b;
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
 button:hover {
    background-color: #0be041;
}